@{
    ViewBag.Title = "Home Page";
}
<div class="bg"></div>
<div class="jumbotron">
    <h1>Izenda Engineering</h1>
    <p class="lead">Please log in to record your time.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            After logging in, you can click the Timesheet tab to see a list of recent entries into the database for your time.
            From your Timesheet, choose "Create New" to create a new record, or you can edit/delete previous records.
            You can also select the Record tab to go directly to the record creation page.
        </p>
    </div>
    <div class="col-md-4">
        <h2>See your hours</h2>
        <p>The Reporting tab contains an Izenda reporting instance to help you track your hours.  We're making data sexy.</p>
    </div>
    <div class="col-md-4">
        <h2>Integrated Izenda</h2>
        <p>The latest version of Izenda is integrated, allowing you to apply your knowledge of report building and analytics to you hours!</p>
    </div>
</div>