@{
    ViewBag.Title = "React";
    Layout = "~/Views/Shared/_ReactLayout.cshtml";
}

@*<script type="text/javascript" src="/../../Reporting/rs.aspx?js=report-parts"></script>*@
@*<div style="margin-top: 50px; width: 1000px;">
    <table id="ReactTable">
        <thead>
        <tr>
            <th>Today's Hours</th>
        </tr>
        </thead>
    </table>
    <div style="height: 150px; width: 1000px; overflow-y: auto;">
        @Html.React("ItemContainer", new
        {
            initialData = Model,
            url = Url.Action("Records"),
            pollInterval = 2000
        })
    </div>
</div>*@

@*<div class="row">
    <div class="col-md-8">
        <h2>Who Takes Up Most of Our Time?</h2>
        <div class="report-part" data-report="WeeklyCustomerHours" data-part="chart" data-responseserverpath="/Reporting/rs.aspx"></div>
    </div>
    <div class="col-md-4">
        <h2>Hours Recorded This Week</h2>
        <div class="report-part" data-report="WeeklyHours" data-part="chart" data-responseserverpath="/Reporting/rs.aspx"></div>
    </div>
</div>*@

@*@Scripts.Render("~/bundles/jsx")*@

