<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://izenda-hours.cloudapp.net:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>izenda-hours.cloudapp.net:8172</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>izenda</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=jtcepf9thb.database.windows.net,1433;Initial Catalog=IzendaHours;User ID=webuser@jtcepf9thb;Password=Pic@rd47aT;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IzendaHours.Models.ApplicationDbContext, IzendaHours" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IzendaHoursEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=IZENDA-HOURS;Initial Catalog=IzendaHours;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=IZENDA-HOURS;Initial Catalog=IzendaHours;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IzendaHours.Models.IzendaHoursEntities, IzendaHours" MigrationConfiguration="IzendaHours.Migrations.Configuration, IzendaHours" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=jtcepf9thb.database.windows.net,1433;Initial Catalog=IzendaHours;User ID=webuser@jtcepf9thb;Password=Pic@rd47aT;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IzendaHoursEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.HoursEDM.csdl|res://*/Models.HoursEDM.ssdl|res://*/Models.HoursEDM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=IZENDA-HOURS;Initial Catalog=IzendaHours;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>