@{
    ViewBag.Title = "Welcome";
}
<script type="text/javascript" src="/../../Reporting/rs.aspx?js=report-parts"></script>
<div class="bg"></div>
<div class="jumbotron">
    <h1>Unified Hours Sheet...</h1>
    <p class="lead">+ Record your time and make Dawn happy!</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Who Takes Up Most of Our Time?</h2>
        <div class="report-part" data-report="WeeklyCustomerHours" data-part="chart" data-responseserverpath="/Reporting/rs.aspx"></div>
    </div>
    <div class="col-md-4">
        <h2>Hours Recorded This Week</h2>
        <div class="report-part" data-report="WeeklyHours" data-part="chart" data-responseserverpath="/Reporting/rs.aspx"></div>
    </div>
</div>

