@{
    ViewBag.Title = "Welcome";
}
<script type="text/javascript" src="/../../Reporting/rs.aspx?js=report-parts"></script>
<div class="bg"></div>
<div class="jumbotron">
    <h1>A New Unified Hours Sheet...</h1>
    <p class="lead">+ Record your time and make Dawn happy!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Izenda is Integrated!</h2>
        <p>The Reporting tab now has an integrated instance of Izenda, complete with a connection to the IzendaHours database.</p>
    </div>
    <div class="col-md-4">
        <h2>Build Reports</h2>
        <p>Those who go and build awesome reports to show off our hours - especially with charts I can put here - will get a treat.  I hate building reports.</p>
    </div>
    <div class="col-md-4">
        <h2>Report Parts!</h2>
        <div class="report-part" data-report="WeeklyHours" data-part="chart" data-responseserverpath="/Reporting/rs.aspx"></div>
    </div>
</div>

