html, body {
  height: 100%;
}

body {
  font-family: "SourceSansProRegular", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #fff;
}

.izenda-bs {
    @import "main";
}